<form action="">
    <!-- <label for="">Id :</label>
<input type="text"> -->
<label for="">name :</label>
<input type="text"><br>
<label for="">company :</label>
<input type="text"><br>
<label for="">role :</label>
<input type="text"><br>
<label for="">package :</label>
<input type="number"><br>
<label for="">email :</label>
<input type="email"><br>
<label for="">dob :</label>
<input type="text"><br>


<label for="">addressLine :</label>
<input type="text"><br>
<label for="">city :</label>
<input type="text"><br>
<label for="">state :</label>
<input type="text"><br>
<label for="">pincode :</label>
<input type="text"><br>

<label for="">Gender :</label>

<input type="radio" name="gender">
<label for="">Male</label>

<input type="radio" name="gender">
<label for="">Female</label><br>

<label for="">year :</label>
<input type="text"><br>
<label for="">percentage :</label>
<input type="text"><br>

<label for="">workMode :</label>
<input type="text"><br>


</form>

