<!-- <p>all-employees works!</p> -->

<button (click)="getEmployeesComponent()">Show all employees</button>
<table class="table table-success table-striped">
    <thead>
        <tr>
            <th>Sno</th>
            <th>id</th>
            <th>name</th>
            <th>company</th>
            <th>role</th>
            <th>email</th>
            <th>package</th>
            <th>dob</th>
            <th>address</th>
            <th>hikes</th>
            <th>workMode</th>
            <th>gender</th>
            <th>DELETE/VIEW</th>

        </tr>

    </thead>
    <tbody>
        <tr *ngFor="let emp of employeeDetails;let i=index ">
            <td>{{i+1}}</td>
            <td>{{emp.id}}</td>
            <td>{{emp.name}}</td>
            <td>{{emp.company}}</td>
            <td>{{emp.role}}</td>
            <td>{{emp.email}}</td>
            <td [ngStyle]="{color:emp.package>900000?'green':'red'}">{{emp.package}}</td>
            <td>{{emp.dob}}</td>
            <td>{{emp.address.addressLine}},
               {{emp.address.city}},
                {{emp.address.state}},
                {{emp.address.pincode}}</td>
            <td>{{emp.hikes.year}},
                {{emp.hikes.percentage}}
            </td>
            <td>{{emp.workMode}}</td>
            <td>{{emp.gender}}</td>
            <td class="">
                <button class="btn btn-danger" (click)="delete(i)">delete</button>
                <button class="btn btn-info">View</button>

            </td>
          
            
        </tr>
        <tr>
            
        </tr>

    </tbody>
  </table>
